extends layout

block content
  h1 station.stationName

  table
    thead
      tr
        th  Station
        th  Time
        th  Bikes
        th  Capacity
        th  Status
        
    tbody
      select
        each station, i in stationdetails
        
              option(value=station.stationName)=station.stationName
             //- each smth, i in  station.details
                td=smth.time
      tbody
       each station, i in stationdetails
        tr
              
           
              td=station.stationName
              td=station.time
              td=station.amount
              td=station.cap
              td=station.status