extends layout

block content
  h1 Stations

  table
    thead
      tr
        th Id
        th Name
        th Date
        th Latitude
        th Longitude
        th Status
        
    tbody
       each station, i in stationtable
        tr
          td=station.id
          td=station.name
          td=station.time
          td=station.lat
          td=station.longd
          td=station.status
        